<partial name="_PartialSearch" />

<section class="section-padding">
    <h1 style="display: flex; justify-content: center; margin-bottom:55px; color:peachpuff;font-family: Arial, sans-serif">HOME 3</h1>
    <div class="container">


        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <article class="post-grid mb-5">
                            <a class="post-thumb mb-4 d-block" href="blog-single.html">
                                <img src="~/images/news/f1.jpg" alt="" class="img-fluid w-100">
                            </a>
                            <span class="cat-name text-color font-extra text-sm text-uppercase letter-spacing-1">Explore</span>
                            <h3 class="post-title mt-1"><a asp-controller="Blog" asp-action="Detail">The best place to explore to enjoy</a></h3>
                            <span class="text-muted letter-spacing text-uppercase font-sm">June 15, 2023</span>
                        </article>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <article class="post-grid mb-5">
                            <a class="post-thumb mb-4 d-block" href="blog-single.html">
                                <img src="~/images/news/f2.jpg" alt="" class="img-fluid w-100">
                            </a>
                            <span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Lifestyle</span>
                            <h3 class="post-title mt-1"><a asp-controller="Blog" asp-action="Detail">How to Make list for travelling alone</a></h3>
                            <span class="text-muted letter-spacing text-uppercase font-sm">September 15, 2023</span>
                        </article>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <article class="post-grid mb-5">
                            <a class="post-thumb mb-4 d-block" href="blog-single.html">
                                <img src="~/images/news/f3.jpg" alt="" class="img-fluid w-100">
                            </a>
                            <span class=" cat-name text-color font-sm font-extra text-uppercase letter-spacing">Food</span>
                            <h3 class="post-title mt-1"><a asp-controller="Blog" asp-action="Detail">5 ingredient cilantro vinaigrette</a></h3>
                            <span class="text-muted letter-spacing text-uppercase font-sm">September 15, 2023</span>
                        </article>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <article class="post-grid mb-5">
                            <a class="post-thumb mb-4 d-block" href="blog-single.html">
                                <img src="~/images/news/f4.jpg" alt="" class="img-fluid w-100">
                            </a>
                            <span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Explore</span>
                            <h3 class="post-title mt-1"><a asp-controller="Blog" asp-action="Detail">A Simple Way to Feel Like Home When You Travel</a></h3>
                            <span class="text-muted letter-spacing text-uppercase font-sm">March 20, 2023</span>
                        </article>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <article class="post-grid mb-5">
                            <a class="post-thumb mb-4 d-block" href="blog-single.html">
                                <img src="~/images/news/f5.jpg" alt="" class="img-fluid w-100">
                            </a>
                            <span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Travel</span>
                            <h3 class="post-title mt-1"><a asp-controller="Blog" asp-action="Detail">What Type of Traveller Are You?</a></h3>
                            <span class="text-muted letter-spacing text-uppercase font-sm">September 15, 2023</span>
                        </article>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <article class="post-grid mb-5">
                            <a class="post-thumb mb-4 d-block" href="blog-single.html">
                                <img src="~/images/news/f6.jpg" alt="" class="img-fluid w-100">
                            </a>
                            <span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Experience</span>
                            <h3 class="post-title mt-1"><a asp-controller="Blog" asp-action="Detail">A Road Trip Review of the 2018</a></h3>
                            <span class="text-muted letter-spacing text-uppercase font-sm">July 10, 2023</span>
                        </article>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <article class="post-grid mb-5">
                            <a class="post-thumb mb-4 d-block" href="blog-single.html">
                                <img src="~/images/news/f7.jpg" alt="" class="img-fluid w-100">
                            </a>
                            <span class=" cat-name text-color font-sm font-extra text-uppercase letter-spacing">music</span>
                            <h3 class="post-title mt-1"><a asp-controller="Blog" asp-action="Detail">Portugal’s Sunset summer vission</a></h3>
                            <span class="text-muted letter-spacing text-uppercase font-sm">September 15, 2023</span>
                        </article>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <article class="post-grid mb-5">
                            <a class="post-thumb mb-4 d-block" href="blog-single.html">
                                <img src="~/images/news/f8.jpg" alt="" class="img-fluid w-100">
                            </a>
                            <span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">beauty</span>
                            <h3 class="post-title mt-1"><a asp-controller="Blog" asp-action="Detail">The best soft Tropical Getaway</a></h3>
                            <span class="text-muted letter-spacing text-uppercase font-sm">March 12, 2023</span>
                        </article>
                    </div>
                </div>
            </div>
            <div class="m-auto">
                <div class="pagination mt-5 pt-4">
                    <ul class="list-inline ">
                        <li class="list-inline-item"><a asp-controller="Home" asp-action="Index" class="active">1</a></li>
                        <li class="list-inline-item"><a asp-controller="Home" asp-action="Index2">2</a></li>
                        <li class="list-inline-item"><a asp-controller="Home" asp-action="Index3">3</a></li>
                        <li class="list-inline-item"><a href="#" class="prev-posts"><i class="ti-arrow-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>