
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Revolve - Personal Magazine blog Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Favicon-->
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <!-- THEME CSS
    ================================================== -->
    <!-- Bootstrap -->

    <link rel="stylesheet" href="~/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Themify -->
    <link rel="stylesheet" href="~/plugins/themify/css/themify-icons.css">
    <link rel="stylesheet" href="~/plugins/slick-carousel/slick-theme.css">
    <link rel="stylesheet" href="~/plugins/slick-carousel/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Slick Carousel -->
    <link rel="stylesheet" href="~/plugins/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/plugins/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/plugins/magnific-popup/magnific-popup.css">
    <!-- manin stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css">
    <link rel="stylesheet" href="~/css/style.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>


	@await Component.InvokeAsync("Navbar")

	@RenderBody()

	@await Component.InvokeAsync("Footer")

	<script src="~/plugins/jquery/jquery.js"></script>
	<!-- Bootstrap jQuery -->
	<script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/plugins/bootstrap/js/popper.min.js"></script>
	<!-- Owl caeousel -->
	<script src="~/plugins/owl-carousel/owl.carousel.min.js"></script>
	<script src="~/plugins/slick-carousel/slick.min.js"></script>
	<script src="~/plugins/magnific-popup/magnific-popup.js"></script>
	<!-- Instagram Feed Js -->
	<script src="~/plugins/instafeed-js/instafeed.min.js"></script>
	<script src="~/plugins/google-map/gmap.js"></script>
	<!-- main js -->
	<script src="~/js/custom.js"></script>
</body>
</html>